@import "../../assets/scss/varieble";
@import "../../assets/scss/mixin";
.login{
    width: 100%;
    min-height: 100vh;
    @include center;
}
.login h1{
    font-size: 40px;
}
.login form{
    animation-name: login;
    animation-duration: 1s;
}
.login form input{
    display: block;
    margin: 1rem auto 0.5rem auto;
    padding: 0.5rem 1rem;
    width: 20%;
    border-radius: 10px;
    border: 1px solid transparent;
    outline: 2px solid transparent;
    font-size: 20px;
    transition: 0.5s ease all;
}
.login form input:focus{
    outline: 2px solid rgb(67, 180, 224);
}
.login_submitter{
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background: #fff;
    border-radius: 10px;
    font-size: 20px;
    color: rgb(67, 180, 224);
    transition: 0.5s ease all;
}
.login_submitter:hover{
    background: rgb(67, 180, 224);
    color: #fff;
}
@keyframes login{
    from{
        transform: translateY(30%);
        opacity: 0;
    }
    to{
        transform: translateY(0%);
        opacity: 1;
    }
}