@import "../assets/scss/varieble";
.admin{
    width: 100%;
    min-height: 100vh;
    text-align: center;
}
.admin_form label, .admin_form input{
    display: block;
    font-size: 20px;
    margin: 0 auto;
}   
.admin_form label p, .admin_form p{
    padding: 0rem 0rem 0.5rem 0rem;
}
.admin_form label input, .admin_form input{
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    background: rgba(128, 128, 128, 0.306);
    margin-bottom: 1rem;
    border-radius: 10px;
    outline: 2px solid transparent;
    transition: 0.5s ease all;
}
.admin_form label input:focus, .admin_form input:focus{
    outline: 2px solid aqua;
}
.admin .table{
    width: 50%;
    margin: 0 auto;
    border: 1px solid transparent;
    margin-top: 3rem;
}
.admin .admin_btn{
    padding: 0.2rem 1rem;
    font-size: 17px;
    border-radius: 10px;
    border: 1px solid transparent;
    background: #fff;
    margin-top: 1rem;
    transition: 0.5s ease all;
}
.admin .admin_btn:hover{
    background: $oq;
    color: black;
}
.admin .admin_btn:active{
    background: black;
    color: $oq;
}
.admin table button{
    padding: 0.2rem;
    border-radius: 5px;
    border: 1px solid transparent;
    font-size: 15px;
    background: $background;
}